name: Go

on: [push, pull_request]

jobs:

  container-job:
    name: Build
    runs-on: ubuntu-latest
    container: gobuffalo/buffalo:v0.16.10

    services:
      postgres:
        image: postgres:12.0-alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: commentapi_test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      run: go get -v -t -d ./...

    - name: Build
      run: buffalo build --static -o commentapi-linux

    - name: Test
      run: buffalo test

    - name: Build and push Docker image (Docker Hub)
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
        repository: tcarreira/commentapi
        tag_with_ref: true
        tag_with_sha: true

